<section class="footer-columns">

    <div class="social_title">

        <ul class="social">
            <li>
                <span class="icon-phone1"> 0772 921837</span>
            </li>
            <li>
                <span class="icon-envelope1"> web@farinha.com</span>
            </li>
            <li>
                <span class="icon-location1"> 75 Stour St, Canterbury, CT1 2NR</span>
            </li>
        </ul>

    </div>

    <div class="social_title">

        <a href="https://www.facebook.com/">
            <span class="icon-facebook">
            </span>
        </a>

        <a href="https://www.instagram.com/">
            <span class="icon-instagram"></span>
        </a>

        <a href="https://twitter.com/">
            <span class="icon-twitter"></span>
        </a>

    </div>


</section>

<div class="copyright">
    <p> Farinha &copy; 2019 All rights reserved</p>

</div>