
@media (max-width: 768px) {


    .logo{
        width:70%;
    }
    .nav{
        top:30px;
    }
    .nav ul li a {
     font-size: 17px;
    }
    iframe{
        height:40vh;
    }
    .contact h3{
        font-size: 22px;
    }
    .rich-content{
        width:100%;

    }
    .wrap-contact{
        width:100%;
    }
    
   

}
@media (max-width: 640px){

    .nav ul li a {
        font-size: 15px;
    }
    header section h2{
        padding: 1em;
        font-weight:400;
    }
    .company-info{
        display:grid;
        grid-template-columns: 1fr;
        grid-gap: 3em;
        padding-bottom: 2em;
    }

}

@media (max-width: 480px) {
    #navbar-toggle{
        display: block;
    }
   
#js-menu {
   display: none;
   flex-direction: column;
   margin:13px;
  
}
    #js-menu li a {
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      z-index:10;
     }
     .logo{
         width: 50%;
     }
     header section {
         top:58%;
     }
    header section h2{
        font-size: 24px;
        padding: 1em
    }
    header section p{
        font-size:16px
    }
 
    .contact h3{
        font-size: 20px;

    }
    .wrap-contact{
        width:100%;
    }
    .btn-submit{
        font-size: 12px;
    }
    

}

@media(max-width: 360px){

.icon-container{
    padding:0.6em;
}
.social_title{
    padding: 0.5em;
}
.social_title ul li{
    font-size: 14px;
    padding-left: 0.1em;
}
.recipe-container article img{
    width: 100%;
}

}

@media (max-width: 320px) {

    header section h2{
        padding:1em;

    }
    .icon-container{

       img{ 
           width:90%;
        }
        p{
            font-size: 15px;
        }
    }
   
    .btn-submit{
        font-size: 12px;
    }
    .social_title{
        padding:1em;
    }
    .social_title ul li{
        font-size: 14px;
        padding: 0.1em;
        padding-left: 0.5em;
    }
    .social_title a span{
        padding:0.5em;
    }
    .icon-facebook:before {
        content: "\e904";
         color: #1877f2;
        font-size: 2em;	
      }
    
      .icon-facebook:before ,.icon-instagram:before, .icon-twitter:before{
        font-size: 1.2em;
      }
      .site-footer p{
          font-size: 14px;
      }
      .cookie-recipe{
          padding:1em;
          margin:1em;
      }
      .cookie-recipe h2{
          font-size: 20px;
      }
      .btn-try{
          font-size: 11px;
      }
      .recipe-container article img{
          width: 100%;
      }
      .prep-container h3{
          font-size: 25px;
      }
      .btn-back{
          font-size: 12px;
      }

}