
/* Reset CSS Box model sizing calculations */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* Remove all default whitespaces */
* {
    padding: 0;
    margin: 0;
}